<div class="col-md-6 offset-md-3">
    <h3 style="margin-top: 20px;"> Update Subject </h3><br>
    <form [formGroup]="addSubjectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Subject Id</label>
            <input disabled type="number" class="form-control" formControlName="subjectId" id="sId"
                [(ngModel)]="subject.subjectId" name="subjectId">

        </div>
        <div class="form-group">
            <label> Faculty Id</label>
            <input disabled type="number" class="form-control" formControlName="facultyId" id="fId"
                [(ngModel)]="subject.facultyId" name="facultyId">
            <span class="error" *ngIf="facultyId.invalid && facultyId.touched">* required*</span>
        </div>

        <div class="form-group">
            <label> Course Id</label>
            <input disabled type="number" class="form-control" formControlName="courseId" id="cId"
                [(ngModel)]="subject.courseId" name="courseId">
            <span class="error" *ngIf="courseId.invalid && courseId.touched">* required*</span>
        </div>

        <div class="form-group">
            <label>Subject Name</label>
            <input type="text" class="form-control" formControlName="subjectName" id="name"
                [(ngModel)]="subject.subjectName" name="subjectName">
            <span class="error" *ngIf="subjectName.invalid && subjectName.touched">*subjectname is required*</span>

        </div>

        <div class="form-group">
            <label>Subject Semester</label>
            <input type="text" class="form-control" formControlName="subjectSemester" id="sem"
                [(ngModel)]="subject.subjectSemester" name="subjectSemester">
            <span class="error" *ngIf="subjectSemester.invalid && subjectSemester.touched">*required*</span>

        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea type="text" class="form-control" formControlName="description" [(ngModel)]="subject.description"
                name="description"></textarea>
            <span class="error" *ngIf="description.invalid && description.touched">* description is required*</span>

        </div>

        <div>
            <button [disabled]="addSubjectForm.invalid" style="margin-top: 10px; background-color:#FE9002 ;"
                class="btn btn-success" type="submit">Submit</button>
            <!-- <button style="margin-top: 10px; background-color:#0C1227 ;" class="btn btn-success"
                type="submit">Back</button> -->
        </div>
    </form>
</div>