<h2 style="margin-top: 20px; text-align: center; text-transform: capitalize;"> Subject List</h2><br><br>
<div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>
        <label for="search">Search Subject:</label> 
    <input type="search" name="search" [(ngModel)]="listFilter" 
    (input)="filter_subject()">
   
    </div>
    </div>
    <div class='row' >
      <div class='col-md-6'>
      </div>
    </div>
    </div>
<cdk-virtual-scroll-viewport  itemSize="100" class="container">
<table class="table table-bordered">
    <thead>
        <tr>
            <th> Subject Id</th>
            <th> Subject Name </th>
            <th> Faculty Id</th>
            <th> Course Id </th>
            <th> Subject Semester </th>
            <th> Subject Description </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *cdkVirtualFor= "let subject of subjects"  class="number">
            <td> {{ subject.subjectId}} </td>
            <td> {{ subject.subjectName }} </td>
            <td> {{ subject.facultyId}} </td>
            <td> {{ subject.courseId}} </td>
            <td> {{ subject.subjectSemester}} </td>
            <td> {{ subject.description}} </td>
            <td>
                <button (click) = "updateSubject(subject.subjectId)" class = "btn btn-info" style="margin-left: 10px; background-color:#FE9002 ;"> Update</button>
                <button (click) = "deleteSubject(subject.subjectId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</cdk-virtual-scroll-viewport>


