
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #0C1227;">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link">Home</a>
        <a class="nav-link active" aria-current="page" routerLink="/create-subject">Add Subject</a>
        <a class="nav-link" routerLink="./subject-list">Subject List</a>
      

        
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
<router-outlet></router-outlet>
</div>
<div class="footer" style="text-align: center; margin-top:60px; background-color:#0C1227 ;">
    <span>
        All Rights Reserved 2021 @Angular
    </span>
</div>
